@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --width-desktop: 1440px;
    }

body {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width-desktop);
    font-family: 'Poppins', sans-serif;
    position: relative;
}
a {
    text-decoration: none;    
}

.logo{
    width: 80%;
}
.header_container{
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    width: 100%;
    height: 140px;
}

.div_info{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.menu_ul{
    display: flex;
    width: 80%;
    background: #5EBAD6;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-around;
    position: absolute;
    transform: translateY(-980%);
    left: 10%;
    box-shadow:  #8a8c8d;
}
.menu_li a{
    color: #fff;

}
.menu_li {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}
.contact{
    background-color: #3a6d7c;

}
.d-block{
    height: 600px;
}



